@media (min-width: 1000px) {
  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-track {
    background-color: rgb(238, 232, 232);
  }

  body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
  }

  header {
    background-image: url("../assets/img/bg-pattern-intro-desktop.svg");
    background-size: 120rem;
    background-repeat: no-repeat;
    background-position: 30% 50%;
  }
  header nav {
    margin-top: 0;
    justify-content: space-between;
  }
  header nav .logo {
    width: 10%;
    padding-left: 5em;
    padding-top: 2em;
  }
  header nav .logo img {
    width: 10em;
  }
  header nav .nav-toggle {
    display: none;
  }
  header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    transform: translateX(0%);
    padding-right: 2rem;
  }
  header nav ul .links {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
  }
  header nav ul .links li {
    width: auto;
    padding: 0;
  }
  header nav ul .links li a {
    padding-right: 1.2rem;
  }
  header nav ul .links li #connect {
    position: relative;
  }
  header nav ul .links li ul {
    display: none;
    position: absolute;
    left: 12rem;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.364);
    border-radius: 8px;
  }
  header nav ul .links li ul li {
    padding-bottom: 0.5rem;
  }
  header nav ul .links li ul a {
    text-align: left;
    color: #000;
  }
  header nav ul .links li ul a:hover {
    opacity: 0.5;
  }
  header nav ul .links li a {
    color: #fff;
  }
  header nav ul .links li a:hover {
    opacity: 0.5;
  }
  header nav ul .links li img {
    padding: 0;
  }
  header .post-header h1 {
    font-size: 3rem;
  }
  header .post-header .cta-btn .filled:hover {
    color: #fff;
    background-color: hsl(353deg, 100%, 62%);
  }
  header .post-header .cta-btn .empty:hover {
    background-color: #fff;
    color: hsl(353deg, 100%, 62%);
  }

  main {
    overflow: hidden;
  }
  main .content-wrapper {
    position: relative;
    flex-direction: row-reverse;
  }
  main .content-wrapper > h2 {
    top: 0;
    position: absolute;
  }
  main .content-wrapper .picture-img {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
  }
  main .content-wrapper .picture-img img {
    width: 700px;
    position: absolute;
    right: -7rem;
  }
  main .content-wrapper .content-text {
    width: 50%;
    padding: 6rem;
    text-align: left;
    margin-top: 3rem;
    margin-left: -3rem;
  }
  main .content-wrapper .picture-img.img-text {
    position: absolute;
    top: -15%;
    left: 10%;
    width: 40%;
  }
  main .content-wrapper .picture-img.img-text img {
    display: block;
    position: initial;
    width: 90%;
    margin: 0;
  }
  main .content-wrapper .content-text.bg-pattern {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    min-height: 30vh;
    background-position: -500px -900px;
  }
  main .content-wrapper .content-text.bg-pattern h2, main .content-wrapper .content-text.bg-pattern p {
    width: 50%;
    margin: 0;
    text-align: left;
  }
  main .content-wrapper .content-text.bg-pattern h2 {
    margin-top: 4vh;
  }
  main .content-wrapper .content-text.bg-pattern p {
    font-size: 1.1rem;
    margin-bottom: 4vh;
  }
  main .content-wrapper .content-wrapper.wrapper-filled {
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 0;
  }
  main .content-wrapper .content-wrapper.content-fin {
    flex-flow: row;
  }
  main .content-wrapper .content-wrapper.content-fin .picture-img img {
    left: -36%;
  }

  footer {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  footer h2 {
    width: 30%;
  }
  footer .section {
    width: 20%;
  }
  footer .section a {
    padding: 1em;
    font-size: 1rem;
  }
  footer .section a:hover {
    opacity: 0.6;
  }
}/*# sourceMappingURL=desktop.css.map */