@mixin flex-box($orientation) {
    width: 100%;
    display: flex;
    flex-direction: $orientation;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1000px){
    body::-webkit-scrollbar{
        width: 12px;
    }
    body::-webkit-scrollbar-track{
        background-color: rgb(238, 232, 232);
    }
    body::-webkit-scrollbar-thumb{
        background-color: white;
        border-radius: 20px;
    }
    header{
        background-image: url('../assets/img/bg-pattern-intro-desktop.svg');
        background-size: 120rem;
        background-repeat: no-repeat;
        background-position: 30% 50%;
        nav{
            margin-top: 0;
            justify-content: space-between;
            .logo{
                width: 10%;
                padding-left: 5em;
                padding-top: 2em;
                img{
                    width: 10em;
                  }
            }
            .nav-toggle{
                display: none;
            }
            ul{
                @include flex-box(row);
                position: static;
                width: auto;
                height: auto;
                background-color: transparent;
                box-shadow: none;
                transform: translateX(0%);
                padding-right: 2rem;
                .links{
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 1em;
                    li{
                        width: auto;
                        padding: 0;
                        a{
                            padding-right: 1.2rem;
                        }
                        #connect{
                            position: relative;
                        }
                        ul{
                            display: none;
                            position: absolute;
                            left: 12rem;
                            padding: 2em;
                            background-color: #fff;
                            box-shadow: 0 0 1em rgb(0, 0, 0, 0.364);
                            border-radius: 8px;
                            li{
                                padding-bottom: 0.5rem;
                            }
                            a{
                                text-align: left;
                                color: #000;
                            }
                            a:hover{
                                opacity: 0.5;
                            }
                        }
                        a{
                            color: #fff;
                        }
                        a:hover{
                            opacity: 0.5;
                        }
                        img{
                            padding: 0;
                        }
                    }
                }
            }
        }
        .post-header{
            h1{
                font-size: 3rem;
            }
            .cta-btn{
                .filled:hover{
                    color: #fff;
                    background-color: hsl(353, 100%, 62%);;
                }
                .empty:hover{
                    background-color: #fff;
                    color: hsl(353, 100%, 62%);
                }
            }
        }
    }
    main{
        overflow: hidden;
        .content-wrapper{
            position: relative;
            flex-direction: row-reverse;
            > h2{
                top: 0;
                position: absolute;
            }
            .picture-img{
                display: flex;
                align-items: center;
                width: 50%;
                position: relative;
                img{
                    width: 700px;
                    position: absolute;
                    right: -7rem;
                }
            }
            .content-text{
                width: 50%;
                padding: 6rem;
                text-align: left;
                margin-top: 3rem;
                margin-left: -3rem;
            }
            .picture-img.img-text{
                position: absolute;
                top: -15%;
                left: 10%;
                width: 40%;
                img{
                    display: block;
                    position: initial;
                    width: 90%;
                    margin: 0;
                }
            }
            .content-text.bg-pattern{
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-end;
                min-height: 30vh;
                background-position: -500px -900px;
                h2,p{
                    width: 50%;
                    margin: 0;
                    text-align: left;
                }
                h2{
                    margin-top: 4vh;
                }
                p{
                    font-size: 1.1rem;
                    margin-bottom: 4vh;
                }
            }
            .content-wrapper.wrapper-filled{
                align-items: flex-end;
                justify-content: flex-end;
                margin-top: 0;
            }
            .content-wrapper.content-fin{
                flex-flow: row;
                .picture-img img{
                    left: -36%;
                }
            }
        }
    }
    footer{
        display: flex;
        flex-direction: row;
        position: relative;
        h2{
            width: 30%;
        }
        .section{
            width: 20%;
            a{
                padding: 1em;
                font-size: 1rem;
            }
            a:hover{
                opacity: 0.6;
            }
        }
    }
}